*{
	position:relative;
	margin:0px;
	padding:0px;
}
body{
	margin:0 auto;
	width:1200px;
}
body > header{
	width:100%;
	display:flex;
	height:50px;
	align-items:center;
	justify-content:space-around;
}
body > header > a{
	text-decoration:none;
	text-align:center;
	width:33%;
	font-size:22px;
	cursor:pointer;
	background-color:grey;
	color:white;
	opacity:0.6;
}
.task{
	width:80%;
	margin:0 auto;
}
.task > form{
	width:100%;
}
.task > form input{
	margin-top:10px;
	width:100%;
	height:30px;
	font-size:20px;
}
.task > form input:last-child{
	font-size:14px;
	margin:10px auto;
	width:60px;
	height:30px;
}
body table{
	margin:0 auto;
}
.focus{
	background-color:blue;
}
#result{
	display:flex;
}
.found{
	color:green;
}
.notfind{
	color:red;
}